/*CSS Reset*/
body,p,form,input,button,dl,dt,dd,ul,ol,li,h1,h2,h3,h4 {margin: 0;padding: 0;list-style: none;}
body,button,input,select,textarea {font: 12px/1.5 tahoma, arial, Microsoft YaHei, sans-serif;color: #333;background: #f1f1f1;}
input,select,textarea {	font-size: 100%;}
a {	text-decoration: none;color: #333;}
a:hover {text-decoration: none;}
a.blue_link {color: #06c;}
a.blue_link:hover {color: #f60;}
.clearfix:after {display: block;content: ".";height: 0;visibility: hidden;clear: both;font-size: 0;line-height: 0;}
.clearfix {zoom: 1;}
img {border: 0 none;vertical-align: top;}
em {font-style: normal;}
button::-moz-focus-inner {padding: 0;border: none;}

/*index.html*/
.wrap{width: 1200px; margin: 0 auto;}
.nav{width: 550px; border: 1px solid #e6e6e6; box-shadow: 0px 2px 3px #666;background: #fff;font-size: 20px;margin: 50px auto 0;padding: 40px 20px;}
.items{padding: 0 60px;}
.items li{list-style: decimal;line-height: 50px;border-bottom:1px solid #f2f2f2; color: #00ACC1;}
.items h1{font-size: 22px;}
.items li a:hover{ text-indent: 25px;border-radius: 5px;color: #ffffff;text-shadow: 0 2px 1px #360;background-color: #369;background-image: linear-gradient(to bottom,#62c462,#51a351);    background-repeat: repeat-x;border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);    text-decoration: none;}
.nav_sub{display: none}
.items li a{color: #1e88e5;display: block;padding: 5px 8px; transition: all 0.2s;margin-left: 25px;}
